# Built files & Outputs
*.apk
*.aar
*.aab
*.dex
*.class
/build
app/build
output-metadata.json
**/release/

# Local configuration & environment secrets
local.properties
google-services.json
local.env
.env
signing.properties

# Security & Signing keys
*.jks
*.keystore
*.ks
*.key
*.pem
*.p12
*.pk8
*.bks

# Gradle files & cache
.gradle/
.gradle
gradle-app.setting
*.log

# IDE & OS files
.idea/
*.iml
.DS_Store
Thumbs.db
/captures
.externalNativeBuild
.cxx
.artifacts/
scratch/
